{% extends 'base_menu.html' %}
{% load static %}
{% block content %}

<style type="text/css">

    .card{
        background-color: #303333;
    }

    #id_account_card{
        background-color: #4b4b4d;
        width: 100%;
    }

    .profile-img{
        max-height: 100px;
        max-width: 100px;
    }

    .confirm-or-decline-request-container{
        margin-left: auto;
    }

    #id_account_row{
        width: 100%;
    }

    .card-right{
        width: 100%;
    }

    .account-profile-link {
        text-decoration: none !important;
    }

    .account-username {
        color: white;
        font-size: 20pt;
    }

    .confirm-request-button {
        background-color: #9779a8;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        color: white;
    }

    .confirm-request-button:hover {
        background-color: #b769e0;
        color: white;
    }

    @media (max-width: 649px) {
        .card-image {
            margin: 5px !important;
            max-height: 75px;
            max-width: 50px;
        }

        .profile-img {
            max-height: 50px;
            max-width: 50px;
        }

        .account-username {
            font-size: 12pt;
        }

        .material-symbols-outlined {
            font-size: 10pt;
        }

        .received-friend-request-text {
            font-size: 8pt;
            word-wrap: break-word;
        }

        .card-right {
            margin: 5px !important;
        }

        .confirm-friend-request {
            padding: 2px;
            font-size: 7pt;
            margin-right: 0 !important;
        }

        .decline-friend-request {
            padding: 2px;
            font-size: 7pt;
        }

        .container {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

</style>

<div class="container">
    <div class="card mt-5 mb-5">
        {% if friend_requests %}
        <div class="d-flex flex-column">
            {% for friend_request in friend_requests %}
            <div class="d-flex flex-row" id="id_account_row">
                <div class="card m-1" id="id_account_card">
                    <div class="d-flex flex-row flex-grow-1 align-items-center">
                        <a class="account-profile-link" href="{% url 'account:profile' pk=friend_request.sender.id %}">
                            <div class="card-image m-2">
                                <img class="img-fluid profile-img rounded-circle" style="border: 1px solid white; background-color: white;" src="{{ friend_request.sender.profile_image.url }}" alt="Profile image">
                            </div>
                        </a>
                        <a class="account-profile-link" href="{% url 'account:profile' pk=friend_request.sender.id %}">
                            <div class="card-body px-2">
                                <h5 class="account-username">
                                    {{ friend_request.sender.username }}
                                </h5>
                            </div>
                        </a>
                        <div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-2">
                            <div class="d-flex flex-row confirm-or-decline-request-container justify-content-end p-3">
                                <a class="btn confirm-request-button confirm-friend-request mr-1" id="id_confirm_friend_request" data-request-url="{% url 'friends:accept_friend_request' %}" 
                                data-friend-request-id="{{ friend_request.id }}" onclick='acceptFriendRequest(this)'>Confirm</a>
                                <a class="btn btn-secondary decline-friend-request ml-1" id="id_decline_friend_request" data-request-url="{% url 'friends:decline_friend_request' %}" 
                                data-friend-request-id="{{ friend_request.id }}" onclick='declineFriendRequest(this)'>Decline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center">
                <p class="pt-2">
                    No results
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}