{% extends 'base_menu.html' %}
{% block content %}
<style type="text/css">

    .image-container{
        max-width: 300px;
        height: auto;
    }

    .card{
        background-color: grey;
    }

    .fa-circle{
        position: absolute;
        text-shadow: 0 0 3px #000;
        top: 5%;
        left: 30%;
    }

    .fa-pencil{
        position: absolute;
        color: white;
        font-size: 125%;
        top: 5%;
        left: 30%;
    }

    .edit-profile span {
        color: #666;
        position: absolute;
        font-family: sans-serif;
        white-space: pre-wrap;
        top: -3%;
        left: 68%;
        padding: 5px 7px;
        z-index: -1;
        font-size: 14px;
        border-radius: 2px;
        background: #fff;
        visibility: hidden;
        opacity:0;
        -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    /* pop-up text arrow */

    .edit-profile span:before {
        content:'';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        position: absolute;
        bottom: -10%;
        left: 45%;
    }

    /* text pops up when icon is in hover state */

    .edit-profile:hover span {
        top: -6%;
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }

    .friend-list-link:hover{
        text-decoration: none;
    }

    .friend-request-link:hover{
        text-decoration: none;
    }

    #id_interests{
        flex-grow: 4;
    }

    .info-right{
        align-self: stretch;
        width: 350px;
    }

    .profile-card{
        align-self: stretch;
        width: 350px;
    }

    .summary-card{
        width: 700px;
    }

    .profile-image{
        background-color: white;
    }


</style>
<div class="container-fluid mt-5">
    <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
        <div class="card profile-card m-2">
            <div class="card-body">
                {% if is_self %}
                    <div class="d-flex flex-row justify-content-end">
                        <p>
                            <a class="mb-2 edit-profile" href="{% url 'account:edit' account.id %}">
                                <span class="popuptext">Edit Profile</span>
                                <i class="fas fa-circle fa-stack-2x" id="id_edit_profile"></i>
                                <i class="fa fa-pencil fa-stack-1x"></i>
                            </a>
                        </p>
                    </div>
                {% endif %}
                <div class="d-flex flex-column justify-content-center p-4">
                    <div class="image-container mx-auto m-4">
                        <img class="d-block border border-white rounded-circle img-fluid mx-auto profile-image"
                        alt="Profile image" id="id_profile_image" src="{{ account.profile_image.url }}">
                    </div>
                    <p class="mt-2 mb-1 username-heading">
                        <h5 style="color: #87EFF9FF;">@{{ account.username }}</h5>
                    </p>
                    {% if info %}
                        {% if info.name %}
                        <p class="mt-1 mb-1 profile-name">
                            <h5>{{ info.name }}</h5>
                        </p>
                        {% endif %}
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% if not is_self %}
                            {% if is_friend %}
                            <!--add javascript onclick function to div-->
                            <div class="d-flex flex-row align-items-center btn btn-primary m-2 px-2" id="id_send_private_message">
                                <span class="material-symbols-outlined">sms</span>
                                <span class="message-btn-text m-auto pl-2">Message</span>
                            </div>
                            {% else %}
                                {% if received_friend_request %}
                                <div class="d-flex flex-row align-items-center">
                                    <span class="received-friend-request-text align-items-center mr-2 mb-1">{{ account.username }} has sent you a friend request</span>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <a class="btn btn-primary confirm-friend-request mr-1" id="id_confirm_friend_request" data-request-url="{% url 'friends:accept_friend_request'  %}" 
                                    data-friend-request-id="{{ received_friend_request_id }}" onclick='acceptFriendRequest(this)'>Confirm</a>
                                    <a class="btn btn-secondary decline-friend-request ml-1" id="id_decline_friend_request" data-request-url="{% url 'friends:decline_friend_request'  %}" 
                                    data-friend-request-id="{{ received_friend_request_id }}" onclick='declineFriendRequest(this)'>Decline</a>
                                </div>
                                {% elif sent_friend_request %}
                                <a class="btn btn-danger" id="id_cancel_friend_request_btn" data-request-url="{% url 'friends:cancel_friend_request' %}"
                                data-account-id="{{ account.id }}" onclick='cancelFriendRequest(this);'>
                                    Cancel friend request
                                </a>
                                {% else %}
                                <a class="btn btn-primary" id="id_add_friend_btn" data-request-url="{% url 'friends:friend_request' %}" 
                                data-account-id="{{ account.id }}" onclick='sendFriendRequest(this);'>
                                    Add friend
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="d-flex flex-column info-right">
            <div class="card m-2 px-4 pb-4">
                <!--friend list section-->
                <div class="d-flex flex-column pt-2">
                    <a class="friend-list-link" href="{% url 'friends:friend_list' account.id %}">
                        <div class="d-flex flex-row align-items-center justify-content-center icon-container">
                            <span class="material-symbols-outlined pt-1" id=id_friend_list_icon>group</span>
                            <span class="friend-list-text px-1 pt-1">Friends ({{ friends|length }})</span>
                        </div>
                    </a>
                </div>
            </div>

            <!--friend requests-->
            {% if active_friend_requests %}
            <div class="card m-2 px-4 pb-4">
                <div class="d-flex flex-column pt-2">
                    <a class="friend-request-link" href="{% url 'friends:friend_requests' account.id %}">
                        <div class="d-flex flex-row align-items-center justify-content-center icon-container">
                            <span class="material-symbols-outlined">person_add</span>
                            <span class="friend-request-text px-1 pt-1">Friend requests ({{ active_friend_requests|length }})</span>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="card m-2 px-4" id="id_interests">
                <div class="card-header">
                    Interests
                </div>
                <div class="card-body">
                    <p>
                    {% if info %}
                        {% if info.tags.all %}
                            <div class="d-flex flex-row justify-content-center" style="flex-wrap: wrap;">
                            {% for tag in info.tags.all %}
                                <span class="p-1 m-1" style="border: 1px green solid; background-color: LightGreen;">{{ tag }}</span>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p>No current interest tags</p>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
        <div class="card summary-card m-2">
            <div class="card-header">
                About Me
            </div>
            <div class="card-body">
                {% if info %}
                    {% if info.summary %}
                    <p>
                        {{ info.summary }}
                    </p>
                    {% endif %}
                {% else %}
                    <p>
                        No summary at present
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_friend %}
    <div class="d-flex flex-row justify-content-center">
        <a class="btn btn-secondary remove-friend-button" data-request-url="{% url 'friends:remove_friend' %}"
        data-account-id="{{ account.id }}" onclick='removeFriend(this);'>
            Remove friend
        </a>
    </div>
    {% endif %}
</div>


{% include 'scripts/send_friend_request.html' %}
{% include 'scripts/cancel_friend_request.html' %}
{% include 'scripts/decline_friend_request.html' %}
{% include 'scripts/accept_friend_request.html' %}
{% include 'scripts/remove_friend.html' %}

{% endblock content %}