{% extends 'base_menu.html' %}
{% load static %}
{% block content %}

<style type="text/css">

    .card{
        background-color: #303333;
    }

    #id_account_card{
        background-color: #4b4b4d;
        width: 100%;
    }

    .profile-img{
        max-height: 100px;
        max-width: 100px;
    }

    .add-friend-container{
        margin-left: auto;
    }

    .friend-text-container {
        margin-left: auto;
    }

    #id_account_row{
        width: 100%;
    }

    .card-right{
        width: 30%;
        margin-left: auto;
    }

    .search-profile-tags-container {
        flex-wrap: wrap;
    }

    .account-profile-link {
        text-decoration: none !important;
    }

    .account-username {
        color: white;
        font-size: 20pt;
    }

    .search-profile-button {
        background-color: #6d6f73;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        font-weight: bold;
        color: white;
    }

    .search-profile-button:hover {
        background-color: #9779a8;
        color: white;
    }

    .search-container {
        width: 100%;
    }

    .card-left {
        width: 70%;
    }

</style>

<div class="container">
    <div class="card mt-5 mb-5">
        {% if accounts %}
        <div class="d-flex flex-column">
            {% for account in accounts %}
            <div class="d-flex flex-row" id="id_account_row">
                <div class="card m-1" id="id_account_card">
                    <div class="d-flex flex-row search-container">
                        <div class="d-flex flex-row align-items-center card-left">
                            <a class="account-profile-link" href="{% url 'account:profile' pk=account.0.id %}">
                                <div class="card-image m-2">
                                    <img class="img-fluid profile-img rounded-circle" style="border: 1px solid white; background-color: white;" src="{{ account.0.profile_image.url }}" alt="Profile image">
                                </div>
                            </a>
                            <a class="account-profile-link" href="{% url 'account:profile' pk=account.0.id %}">
                                <div class="card-body px-2 mr-3">
                                    <h5 class="account-username">
                                        {{ account.0.username }}
                                    </h5>
                                </div>
                            </a>
                            {% if account.0.info.tags.all %}
                            <div class="d-flex flex-row justify-content-center align-items-center mx-1 search-profile-tags-container">
                                {% for tag in account.0.info.tags.all %}
                                    <span class="p-1 m-1 search-profile-tags" style="background-color: #9779a8;">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% if account.0 != request.user %}
                        <div class="d-flex flex-row card-right align-items-center">
                            {% if account.1 == "2" %}
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="received-friend-request-text align-items-center mr-2 mb-1">{{ account.username }} has sent you a friend request</span>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <a class="btn account-button confirm-friend-request mr-1" id="id_confirm_friend_request" data-request-url="{% url 'friends:accept_friend_request'  %}" 
                                    data-friend-request-id="{{ received_friend_request_id }}" onclick='acceptFriendRequest(this)'>Confirm</a>
                                    <a class="btn btn-secondary decline-friend-request ml-1" id="id_decline_friend_request" data-request-url="{% url 'friends:decline_friend_request'  %}" 
                                    data-friend-request-id="{{ received_friend_request_id }}" onclick='declineFriendRequest(this)'>Decline</a>
                                </div>
                            </div>
                            {% elif account.1 == "1" %}
                            <div class="d-flex flex-row friend-text-container justify-content-end p-2">
                                <a class="d-flex btn search-profile-button mr-2 send-friend-private-message" data-friend-id="{{ account.0.id }}" data-request-url="{% url 'privatechat:create_chat' %}"
                                onclick='sendFriendMessage(this);'>
                                    <span class="d-flex material-symbols-outlined">sms</span>
                                    <span class="d-flex message-btn-text m-auto pl-2">Message</span>
                                </a>
                            </div>
                            {% elif account.1 == "0" %}
                            <div class="d-flex flex-row add-friend-container justify-content-end p-3">
                                <a class="btn btn-danger" id="id_cancel_friend_request_btn" data-request-url="{% url 'friends:cancel_friend_request' %}"
                                data-account-id="{{ account.0.id }}" onclick='cancelFriendRequest(this);'>
                                    Cancel friend request
                                </a>
                            </div>
                            {% elif account.1 == "-1" %}
                            <div class="d-flex flex-row add-friend-container justify-content-end p-3">
                                <a class="btn search-profile-button" id="id_add_friend_btn" data-request-url="{% url 'friends:friend_request' %}" 
                                data-account-id="{{ account.0.id }}" onclick='sendFriendRequest(this);'>
                                    Add friend
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center">
                <p class="pt-2">
                    No results
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include 'scripts/send_friend_request.html' %}
{% include 'scripts/cancel_friend_request.html' %}
{% include 'chat_scripts/send_message.html' %}

{% endblock content %}