{% extends 'base_menu.html' %}
{% load static %}
{% block content %}

<style type="text/css">

    .profile-card{
        background-color: #272729;
        width: 700px;
    }

    .image-container{
        height: 200px;
        width: 200px;
        align-self: center;
    }

    #id_profile_image_display{
        background-color: white;
        width: 200px;
        height: 200px;
    }

    .update-button {
        background-color: #6d6f73;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        font-weight: bold;
        color: white;
    }

    .update-button:hover {
        background-color: #9779a8;
        color: white;
    }

</style>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="card profile-card">
            <div class="card-body">
                <div class="d-flex flex-column justify-content-center p-4">
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-between" id="id_image_crop_confirm">
                        <span id="id_cancel" class="material-icons d-flex justify-content-start">cancel</span>
                        <span id="id_confirm" class="material-icons d-flex justify-content-end">check</span>
                    </div>
                    <div class="d-flex image-container justify-content-center mb-4" id="id_image_container">
                        <img class="border border-white rounded-circle img-fluid mx-auto profile-image"
                        id="id_profile_image_display" src="{{ account_profile_image }}" alt="Profile image">
                        <div class="middle" id="id_image_middle_container">
                            <div class="text" id="id_image_text">
                                Edit
                            </div>
                        </div>
                    </div>
                    <form class="form-signin" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!--hidden element - interacted with when the user clicks on the display image container with the edit button-->
                        <input class="d-none" type="file" id="id_profile_image" name="profile_image"
                        onchange="uploadImage(this)">

                        <h6 class="mt-4 field-heading">
                            Username
                        </h6>
                        <input type="text" name="username" id="id_input_username" class="form-control" placeholder="Username"
                        required autofocus value={{ account_form.initial.username }}>

                        <h6 class="mt-4 field-heading">
                            Name
                        </h6>
                        <input type="text" name="name" id="id_input_name" class="form-control" placeholder="Name"
                        value={{ info_form.initial.name }}>

                        <h6 class="mt-4 field-heading">
                            About Me
                        </h6>
                        <textarea type="text" name="summary" id="id_input_summary" class="form-control" placeholder="Summary">{{ summary }}</textarea>

                        <h6 class="mt-4 field-heading">
                            Interests
                        </h6>
                        <input type="text" name="tags" id="id_tags" class="form-control" data-role="tagsinput"
                        value={{ info_form.initial.tags }}>
                        <p style="font-size: 10px;">Comma delimited list of tags i.e. python, css, software engineering, html</p>

                        {% for field in account_form %}
                        <p>
                            {% for error in field.errors %}
                            <p style="color: red;">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </p>
                        {% endfor %}

                        {% if account_form.non_field_errors %}
                        <div style="color: red;">
                            <p>
                                {{ account_form.non_field_errors }}
                            </p>
                        </div>
                        {% endif %}
                        </p>

                        {% for field in info_form %}
                        <p>
                            {% for error in field.errors %}
                            <p style="color: red;">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </p>
                        {% endfor %}

                        {% if info_form.non_field_errors %}
                        <div style="color: red;">
                            <p>
                                {{ info_form.non_field_errors }}
                            </p>
                        </div>
                        {% endif %}
                        </p>

                        <div class="d-flex flex-column mt-4">
                            <button class="btn flex-grow1 mt-4 update-form-submit-btn update-button" type="submit">
                                Save
                            </button>
                        </div>

                        <div class="d-flex flex-column mt-4">
                            <a class="btn flex-grow1 mt-4 password-reset-btn update-button" href="{% url 'reset_password' %}">
                                    Reset password
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var cropper;
    var imageFile;
    var cropX;
    var cropY;
    var cropWidth;
    var cropHeight;

    // call function when page is rendered
    enableImageOverlay()

    // function called when user selects a file from the opened file explorer after "clicking" on the
    // form input of type "file" by clicking on the display image container
    function uploadImage(input){
        // check if file has been selected
        if(input.files && input.files[0]){
            // used to read contents of file
            var reader = new FileReader();
            // executed when file has successfully been loaded
            reader.onload = function(event){
                disableImageOverlay();
                // replaces link to initial image with link to newly selected image in the update template
                var image = event.target.result;
                var imageField = document.getElementById("id_profile_image_display");
                imageField.src = image;
                // 1/1 aspect ratio ensures picture is always a square - means that when rounded-circle css
                // is applied to the image, it is formatted as a circle and not stretched
                cropper = new Cropper(imageField, {
                    aspectRatio: 1/1,
                    crop(event){
                        imageFile = image;
                        cropX = event.detail.x;
                        cropY = event.detail.y;
                        cropWidth = event.detail.width;
                        cropHeight = event.detail.height;
                    }
                })
            }

            // reads the contents of the file as base64-encoded string, which is then used as the images src
            reader.readAsDataURL(input.files[0]);
        }
    }

    function isImageSizeValid(image){
        // gets the index of the encoded image string after "base64," - plus 7 is due to length of "base64,"
        var indexStart = image.indexOf("base64,") + 7;
        var base64str = image.substr(indexStart);
        // function decodes base64 strings
        var decoded = atob(base64str);
        if(decoded.length >= "{{ MAX_DATA_UPLOAD }}"){
            return null;
        }
        return base64str;
    }

    function cropImage(image, x, y, width, height){
        base64str = isImageSizeValid(image);
        if(base64str != null){
            var requestData = {
                "csrfmiddlewaretoken": token,
                "image": base64str,
                "x_coord": cropX,
                "y_coord": cropY,
                "crop_width": cropWidth,
                "crop_height": cropHeight
            }

            // show loading spinner whilst image is being cropped
            displayLoadingSpinner(true);
            // send request via AJAX so that page isn't refreshed when POST request is made
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: "{% url 'account:crop_image' user.id %}",
                data: requestData,
                timeout: 10000,
                // data in function parameter referes to the data sent back by the server
                // in this case would be the payload data sent back by HttpResponse in the crop image function in views.py
                success: function(data){
                    if(data.result == "success"){
                        // cropped image will have been saved at this point so refreshing page
                        // now shows the cropped image
                        window.location.reload();
                    }
                    else if(data.result == "error"){
                        // show user the exception if fails
                        alert(data.exception);
                    }
                },
                error: function(data){
                    console.log("Error: ", data);
                },
                // stop showing loading spinner when crop is comnpleted
                complete: function(data){
                    displayLoadingSpinner(false);
                }
            })
        }
        else{
            alert("Image size must be less than 10MB")
            document.getElementById("id_cancel").click();
        }
    }

    function enableImageOverlay(){

        // create coloured background using padding for "Edit" text
        var text = document.getElementById("id_image_text");
        text.style.backgroundColor = "#87EFF9A1";
        text.style.color = "white";
        text.style.fontSize = "16px";
        text.style.padding = "16px 32px";
        text.style.borderRadius = "25px";
        text.style.cursor = "pointer";

        var profileImage = document.getElementById("id_profile_image_display");
        profileImage.style.opacity = "1";
        profileImage.style.display = "block";
        profileImage.style.width = "100%";
        profileImage.style.height = "auto";
        profileImage.style.transition = ".5s ease";
        profileImage.style.backfaceVisibility = "hidden";
        profileImage.style.cursor = "pointer";

        // make element that contains "Edit" text invisible until parent container is hovered
        var middleContainer = document.getElementById("id_image_middle_container");
        middleContainer.style.transition = ".5s ease";
        middleContainer.style.opacity = "0";
        middleContainer.style.position = "absolute";
        middleContainer.style.transform = "translate(0%, 130%)";

        var imageContainer = document.getElementById("id_image_container");

        // make "Edit" text visible and increase transparency of image behind when mouse hovering over container
        imageContainer.addEventListener("mouseover", function(event){
            profileImage.style.opacity = "0.3";
            middleContainer.style.opacity = "1";
        })

        // reset elements when mouse moves away from container
        imageContainer.addEventListener("mouseout", function(event){
            profileImage.style.opacity = "1";
            middleContainer.style.opacity = "0";
        })

        // interact with hidden element on click, opening file explorer and allowing user to choose new profile image
        imageContainer.addEventListener("click", function(event){
            document.getElementById("id_profile_image").click();
        })


        // whilst not uploading and cropping new image, remove visibility of the confirm and cancel buttons
        // used to confirm the crop of the image
        var cropConfirm = document.getElementById("id_image_crop_confirm");
        cropConfirm.classList.remove("d-flex");
        cropConfirm.classList.remove("flex-row");
        cropConfirm.classList.remove("justify-content-between");
        // make invisible
        cropConfirm.classList.add("d-none");
    }

    function disableImageOverlay(){
        var profileImage = document.getElementById("id_profile_image_display");
        profileImage.style.opacity = "1"

        var middleContainer = document.getElementById("id_image_middle_container");
        middleContainer.style.opacity = "0"

        var imageContainer = document.getElementById("id_image_container");

        var text = document.getElementById("id_image_text");
        text.style.cursor = "default"
        text.style.opacity = "0"

        imageContainer.removeEventListener("mouseover", function(event){})

        imageContainer.removeEventListener("mouseout", function(event){})

        imageContainer.removeEventListener("click", function(event){
            event.preventDefault();
        })

        document.getElementById("id_profile_image").addEventListener("click", function(event){
            event.preventDefault();
        })

        // make confirm and cancel icons visible
        var cropConfirm = document.getElementById("id_image_crop_confirm");
        cropConfirm.classList.add("d-flex");
        cropConfirm.classList.add("flex-row");
        cropConfirm.classList.add("justify-content-between");
        cropConfirm.classList.remove("d-none");

        var confirm = document.getElementById("id_confirm");
        confirm.addEventListener("click", function(event){
            cropImage(imageFile, cropX, cropY, cropWidth, cropHeight);
        })

        var cancel = document.getElementById("id_cancel");
        cancel.addEventListener("click", function(event){
            window.location.reload();
        }) 
    }
</script>

{% endblock content %}