<script type="text/javascript">

    var token = "{{ csrf_token }}";

    function acceptFriendRequest(element){
        // access url through element attribute so that you're not using django template variables inside 
        // javascript - protect against Cross-Site Scripting (XSS)
        const myUrl = element.getAttribute('data-request-url');
        const id = element.getAttribute('data-friend-request-id');
        console.log(myUrl);

        requestData = {
            "csrfmiddlewaretoken": token,
            "received_friend_request_id": id,
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: myUrl,
            timeout: 5000,
            data: requestData,
            success: function(data){
                if(data.response == "success"){

                }
                else if(data.response != null){
                    alert(data.response);
                }
            },
            error: function(data){
                console.log(data);
                alert("Something went wrong: " + data);
            },
            complete: function(data){
                window.location.reload();
            },
        })
    }

</script>