<script type="text/javascript">

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const messagesElement = document.querySelector('#chat_log');

        let dateObj = new Date(data.timestamp);
        let websocketMessageDateSentFormatted = dateObj.toLocaleDateString("en-GB");

        let isDateSeparatorAdded = false;

        // if websocket message sent on new day, add the date separator to the document before adding the message
        if (websocketMessageDateSentFormatted != lastDateSentFormatted) {
            const dateSeperatorContainer = document.createElement('div');
            dateSeperatorContainer.classList.add('date-separator');
            const dateSeperatorDashesSpan1 = document.createElement('span');
            dateSeperatorDashesSpan1.classList.add('date-separator-dashes');
            const dateSeperatorDashesSpan2 = document.createElement('span');
            dateSeperatorDashesSpan2.classList.add('date-separator-dashes');
            var dateSeperatorDateSpan = document.createElement('span');
            dateSeperatorDateSpan.classList.add('chat-new-date');

            // format date of iso string to match that of page reload date separator
            let isoDate = data.timestamp;
            let date = new Date(isoDate);
            let formattedDate = formatter.format(date);
            dateSeperatorDateSpan.textContent = " " + formattedDate + " ";

            let dashCount = addDashesWebSocket(dateSeperatorDateSpan);
            // remove style properties set by temp element when calling addDashesWebSocket
            dateSeperatorDateSpan.style.removeProperty('visibility');
            dateSeperatorDateSpan.style.removeProperty('position');

            // add dashes for either side of the date
            dateSeperatorDashesSpan1.innerHTML = "&ndash;".repeat(dashCount);
            dateSeperatorDashesSpan2.innerHTML = "&ndash;".repeat(dashCount);

            dateSeperatorContainer.appendChild(dateSeperatorDashesSpan1);
            dateSeperatorContainer.appendChild(dateSeperatorDateSpan);
            dateSeperatorContainer.appendChild(dateSeperatorDashesSpan2);
            messagesElement.appendChild(dateSeperatorContainer);

            isDateSeparatorAdded = true;

            lastDateSentFormatted = websocketMessageDateSentFormatted;
        }

        const messageElement = document.createElement('div');
        messageElement.classList.add('chatroom-message-container');

        const pictureElement = document.createElement('div');
        pictureElement.classList.add('chatroom-picture-container');

        if (data.profile_pic) {
            let linkUrl = "/account/" + requestUserid + "/";
            const imageElementLink = document.createElement('a');
            imageElementLink.classList.add('user-profile-link-image');
            imageElementLink.setAttribute("href", linkUrl);
            const imageElement = document.createElement('img');
            imageElement.src = data.profile_pic;
            imageElement.alt = data.username + '\'s profile image';
            imageElement.classList.add('chatroom-message-user-pic')
            imageElementLink.appendChild(imageElement);
            pictureElement.appendChild(imageElementLink);

            if (isDateSeparatorAdded == false) {
                // separate messages from different users
                const para1 = document.createElement('p');
                const para2 = document.createElement('p');
                messagesElement.appendChild(para1);
                messagesElement.appendChild(para2);
            }
        }

        const messageBodyElement = document.createElement('div');
        messageBodyElement.classList.add('chatroom-message-body-container');

        const messageHeaderElement = document.createElement('div');
        messageHeaderElement.classList.add('chatroom-message-headers-container');

        const messageTextElement = document.createElement('div');
        messageTextElement.classList.add('chatroom-message-text-container');

        messageBodyElement.appendChild(messageHeaderElement);
        messageBodyElement.appendChild(messageTextElement);

        if (data.username) {
            let linkUrl = "/account/" + requestUserid + "/";
            const usernameElementLink = document.createElement('a');
            usernameElementLink.classList.add('user-profile-link-username');
            usernameElementLink.setAttribute("href", linkUrl);
            // if message is from current user, make their username in the message orange
            if (data.username == requestUsername) {
                const authorElement = document.createElement('span');
                authorElement.classList.add('chatroom-message-author-current-user');
                authorElement.textContent = data.username;
                usernameElementLink.appendChild(authorElement);
                messageHeaderElement.appendChild(usernameElementLink);
            }
            else {
                const authorElement = document.createElement('span');
                authorElement.classList.add('chatroom-message-author-other-user');
                authorElement.textContent = data.username;
                usernameElementLink.appendChild(authorElement);
                messageHeaderElement.appendChild(usernameElementLink);
            }
        }

        if (data.code) {
            const bodyElement = document.createElement('div');
            bodyElement.classList.add('code-snippet');
            bodyElement.setAttribute('id', 'code_snippet_temp');
            bodyElement.setAttribute('data-content', data.message);
            bodyElement.setAttribute('data-language', data.language);
            messageTextElement.appendChild(bodyElement);
        } else {
            const bodyElement = document.createElement('span');
            bodyElement.classList.add('chatroom-message-body');
            bodyElement.textContent = data.message;
            messageTextElement.appendChild(bodyElement);
        }

        const timestampElement = document.createElement('span');
        timestampElement.classList.add('chatroom-message-timestamp');
        // convert iso format timestamp into date object so that it can be parsed
        let timestampObj = new Date(data.timestamp);
        // convert iso timestamp into "hh:mm" format for chat log
        let formattedTime = dateObj.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
        timestampElement.textContent = formattedTime;
        messageTextElement.appendChild(timestampElement);

        // add message to chat log
        messageElement.appendChild(pictureElement);
        messageElement.appendChild(messageBodyElement);
        messagesElement.appendChild(messageElement);

        // is current user sends new message, auto scroll to bottom of chat log
        if (requestUsername == data.username_hidden) {
            setTimeout(function() {
                messagesElement.scrollTop = messagesElement.scrollHeight;
            }, 100);
        }

        configureCodeSnippets();
    }

    chatSocket.onclose = function(e) {
            // chat socket closed
        };

    document.querySelector('#chat_message_input').focus();

    // if user presses enter, send message
    document.querySelector('#chat_message_input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat_message_submit').click();
        }
    };

    // send message
    document.querySelector('#chat_message_submit').onclick = function(e) {
        let textInput = document.getElementsByClassName('emojionearea');
        let codeFlag = false;
        if (textInput[0].style.visibility == 'hidden') {
            var message = codeSnippetText;
            codeFlag = true;
            chatSocket.send(JSON.stringify({
                'message': message,
                'code': codeFlag,
                'language': selectedLanguage
            }));
            let messageBar = document.getElementById('id_message_bar');
            let codeEditor = document.getElementById('editor');
            messageBar.removeChild(codeEditor);
            for (var i = 0; i < textInput.length; i++) {
                textInput[i].style.visibility = "visible";
            }
            messageBar.style.height = "10%";
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.style.display = "none";
            codeSnippetText = "";
            selectedLanguage = "";
        }
        else {
            var message = $("#chat_message_input").data('emojioneArea').getText();
            // clears input element text - can't clear text just by setting elements value to empty
            // string when using emoji picker
            var emojioneAreas = $("#chat_message_input").emojioneArea(); 
            emojioneAreas.data("emojioneArea").setText('');
            chatSocket.send(JSON.stringify({
                'message': message,
                'code': codeFlag,
                'language': selectedLanguage
            }));
        }
    };

</script>