{% extends "base_menu.html" %}
{% load app_tags %}
{% load static %}
{% load tz %}
{% block content %}

<style type="text/css">

    body{
        overflow-y: hidden;
    } 

    #id_chat_log_container{
        height: calc(100vh - 165px);
        flex: 1;
        width: 100%;
        max-width: 2000px;
        padding-left: 0;
        padding-right: 0;
    }

    .chat-window{
        height: 100%;
        width: 70%;
        padding-left: 0;
        padding-right: 0;
        background-color: #303333;
    }

    #id_chat_users_container{
        background-color: #272729;
        width: 30%;
        height: 100%;
        padding-left: 2em;
        padding-right: 2em;
        overflow-x: hidden;
        overflow-y: visible;
    }

    #chat_log{
        overflow-x: hidden;
        overflow-y: visible;
        align-self: flex-start;
        flex: 1;
        width: 100%;
        padding-bottom: 2em;
        padding-top: 1em;
    }

    #id_message_bar{
        height: 10%;
        width: 100%;
        -ms-flex-align: stretch;
        background-color: #4b4b4d;
        align-items: center;
        position: relative;
    }

    .chatroom-message-user-pic{
        border: 1px;
        border-color: white;
        display: block;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        background-color: white;
        margin-left: 1em;
    }

    .chat-user-image{
        border: 1px;
        border-color: white;
        display: block;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .chatroom-message-container{
        display: flex;
        flex-direction: row;
        padding-left: 4em;
        transition: background-color 0.1s ease-in-out;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .chatroom-message-container:hover {
        background-color: #232424;
    }

    .chat-user-container{
        padding: 0.5em;
        border-radius: 10px;
        transition: background-color 0.1s ease-in-out;
    }

    .chat-user-container:hover {
        background-color: #4b4b4d;
    }

    .chatroom-picture-container{
        display: flex;
        flex-direction: column;
        max-height: 75px;
        min-width: 75px;
    }

    .chatroom-message-body-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: auto;
    }

    .chatroom-message-headers-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .chatroom-message-text-container{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: auto;
    }

    .chatroom-message-author-other-user{
        display: flex;
        font-size: 16pt;
        color: silver;
    }

    .chatroom-message-author-current-user{
        display: flex;
        font-size: 16pt;
        color: orange;
    }

    .chat-user-username{
        font-size: 12pt;
        color: silver;
    }

    .chatroom-message-body{
        margin-top: 0.5em;
        max-width: 75%;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #E7F6F2;
    }

    .chatroom-message-timestamp{
        display: flex;
        margin-top: auto;
        margin-left: auto;
        margin-right: 4em;
        opacity: 0.25;
        font-size: 8pt;
    }

    .date-separator{
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 4em;
        margin-right: 4em;
        white-space: nowrap; 
    }

    .user-profile-link-username{
        text-decoration: none !important;
    }

    .user-profile-link-image{
        text-decoration: none !important;
    }

    .chat-user-picture-container{
        position: relative;
        height: 32px;
        width: 32px;
    }

    .user-online-circle{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: green; 
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        z-index: 1;
        border: 1px;
        border-color: white;
    }

    .user-away-circle{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: yellow; 
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        z-index: 1;
        border: 1px;
        border-color: white;
    }

    .user-offline-circle{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: lightgrey; 
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        z-index: 1;
        border: 1px;
        border-color: white;
    }

    .chat-users-header{
        color: #97a1a1;
        margin-top: 1em;
    }

    .chat-users-hr{
        border: 0;
        clear:both;
        display:block;
        width: 100%;               
        background-color: white;
        height: 1px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .public-chatroom-banner{
        background-color: #242729;
        height: 40px;
        width: 100%;
        max-width: 2000px;
        align-items: center;
    }

    .chatroom-banner-title{
        font-weight: bold;
    }

    .chatroom-banner-text{
        color: #bab8b8;
    }

    #chat_message_submit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #6d6f73;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    #chat_message_submit:hover {
        background-color: #9779a8;
    }

    #code_snippet_toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 10%;
        background-color: #6d6f73;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out; 
    }

    #code_snippet_toggle:hover {
        background-color: #9779a8;
    }

    .date-separator-dashes{
        overflow: hidden;
        white-space: nowrap; 
    }

    #main_content.blur > *:not(#popup_container) {
        filter: blur(6px);
    }

    #popup_container {
        position: fixed;
        bottom: 0;
        left: 15%;
        background-color: rgba(0, 0, 0, 0.75); /* semi-transparent background */
        z-index: 999; /* make sure the pop-up is on top of everything else */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 70%;
        height: 60%;
        animation: popup-anim 0.75s ease-in-out forwards;
    }

    #popup_message {
        padding: 30px;
        width: 75%;
        height: 75%;
        overflow-x: hidden;
        overflow-y: visible;
    }

    @keyframes popup-anim {
        from {
            transform: translateY(-60%);
        }
        to {
            transform: translateY(-40%);
        }
    }

    #code_snippet_toggle .code-snippet-popup {
        color: #666;
        position: absolute;
        font-family: sans-serif;
        white-space: pre-wrap;
        padding: 5px 7px;
        z-index: -1;
        font-size: 14px;
        border-radius: 2px;
        background: #fff;
        visibility: hidden;
        top: 95%;
        opacity: 0;
        -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #code_snippet_toggle:hover .code-snippet-popup {
        top: 87%;
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }

    #editor { 
        position: absolute;
        height: 90%;
        width: 85%;
    }

    .code-snippet {
        display: block;
        white-space: pre-wrap;
        padding: 10px;
        border-radius: 4px;
        font-family: monospace;
        height: auto; /* Adjust the height as needed */
        overflow: hidden;
        width: 90%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 150px;
        height: 250px;
        overflow-x: auto;
        overflow-y: auto;
        padding: 10px;
        background-color: lightgrey;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 999;
        bottom: calc(100% + 10px);
        color: black;
        font-weight: bold;
        text-align: center;
    }

    .dropdown-content input[type="text"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    .dropdown-content ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-content li {
        padding: 5px;
        cursor: pointer;
        color: black;
        font-weight: normal;
        text-align: left;
    }

    .dropdown-content li:hover {
        background-color: #ddd;
    }

    @media (max-width: 649px) {
        .chatroom-message-container {
            padding-left: 5px;
        }

        .chatroom-picture-container {
            height: 45px;
            width: 45px;
            min-width: 45px;
        }

        .chatroom-message-user-pic {
            height: 30px;
            width: 30px;
            margin-left: 5px;
        }

        .chatroom-message-author-current-user {
            font-size: 12pt;
        }

        .chatroom-message-author-other-user {
            font-size: 12pt;
        }

        .chatroom-message-body {
            font-size: 10pt;
        }

        .chatroom-message-timestamp {
            font-size: 7pt;
            margin-right: 5px;
            margin-top: 0.5em;
        }

        .chatroom-message-text-container {
            align-items: center;
        }

        .chat-window {
            width: 80%;
        }

        #id_chat_users_container {
            width: 20%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .chat-users-header {
            font-size: 8pt;
        }

        .chat-user-container {
            padding: 2px;
        }

        .chat-user-picture-container {
            height: 22px;
            width: 22px;
            margin-right: 0 !important;
        }

        .chat-user-image {
            height: 20px;
            width: 20px;
        }

        .user-online-circle {
            height: 8px;
            width: 8px;
        }

        .user-away-circle {
            height: 8px;
            width: 8px;
        }

        .user-offline-circle {
            height: 8px;
            width: 8px;
        }

        .chat-user-username {
            font-size: 8pt;
        }

        .chatroom-banner-title {
            font-size: 10pt;
            margin-left: 10px !important;
        }

        .chatroom-banner-text {
            font-size: 10pt;
        }

        #code_snippet_toggle {
            height: 30px;
            width: 30px;
        }

        #chat_message_submit {
            height: 30px;
            width: 30px;
        }

        .ace_editor {
            font-size: 8pt;
        }

        #id_message_bar {
            padding: 10px !important;
        }

        .emojionearea .emojionearea-picker.emojionearea-picker-position-top {
            right: -150px;
        }

        .emojionearea .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper::after {
            bottom: 0;
        }

        .date-separator {
            font-size: 8pt;
            justify-content: center;
            display: flex;
        }

        #id_chat_log_container {
            height: calc(100vh - 125px);
        }

        .public-chatroom-banner {
            height: 30px;
        }

        #popup_message {
            padding: 0px;
            font-size: 8pt;
            height: 80%;
            width: 80%;
        }

        #popup_header {
            font-size: 12pt !important;
        }

    }

</style>

<div id="main_content">
    <div class="d-flex flex-row justify-content-center public-chatroom-banner-container">
        <div class="d-flex flex-row public-chatroom-banner">
            <span class="ml-5 mr-2 chatroom-banner-title">Public Chat</span>
            <span class="chatroom-banner-text">|   General chatroom</span>
        </div>
    </div>
    <div class="container d-flex flex-row" id="id_chat_log_container">
        <div class="d-flex flex-column justify-content-center chat-window" id="id_chat_window">
            <div class="d-flex flex-column" id="chat_log">
                {% for message in recent_messages %}
                {% with prev_message=recent_messages|previous:forloop.counter0 %}
                    {% if message.created_at|date:"F d" != prev_message.created_at|date:"F d" or forloop.first %}
                    <div class="date-separator">
                        <span class="date-separator-dashes"></span>
                        <span class="chat-new-date" id="id_chat_new_date">{{ message.created_at|date:"j F Y" }}</span>
                        <span class="date-separator-dashes"></span>
                    </div>
                    {% else %}
                        {% if prev_message.user != message.user %}
                        <p></p><p></p>
                        {% endif %}
                    {% endif %}
                {% endwith %}
                <div class="chatroom-message-container">
                    <div class="chatroom-picture-container">
                        {% with prev_message=recent_messages|previous:forloop.counter0 %}
                            {% if message.created_at|date:"F d" != prev_message.created_at|date:"F d" or message.user != prev_message.user or forloop.first %}
                            <a class="user-profile-link-image" href="{% url 'account:profile' pk=message.user.id %}">
                                <img class="chatroom-message-user-pic" src="{{ message.user.profile_image.url }}" alt="{{ message.user.username }}'s profile image">
                            </a>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="chatroom-message-body-container">
                        <div class="chatroom-message-headers-container">
                            {% with prev_message=recent_messages|previous:forloop.counter0 %}
                                {% if message.created_at|date:"F d" != prev_message.created_at|date:"F d" or message.user != prev_message.user or forloop.first %}
                                    {% if request.user == message.user %}
                                        <a class="user-profile-link-username" href="{% url 'account:profile' pk=message.user.id %}">
                                            <span class="chatroom-message-author-current-user">
                                                {{ message.user.username }}
                                            </span>
                                        </a>
                                        {% else %}
                                        <a class="user-profile-link-username" href="{% url 'account:profile' pk=message.user.id %}">
                                            <span class="chatroom-message-author-other-user">
                                                {{ message.user.username }}
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="chatroom-message-text-container">
                            {% if message.code %}
                            <div id="code_snippet_{{ message.id }}" class="code-snippet" data-content="{{ message.message }}" data-language="{{ message.language }}"></div>
                            {% else %}
                            <span class="chatroom-message-body">
                                {{ message.message }}
                            </span>
                            {% endif %}
                            <span class="chatroom-message-timestamp">
                                <!-- convert timestamp to user's local time -->
                                {{ message.created_at|timezone:user_timezone|date:"H:i" }}
                            </span>
                        </div>
                    </div>
                </div>
                {% if forloop.first %}
                    {{ message.id|json_script:"lastSentMessageId" }}
                {% endif %}
                {% endfor %}
            </div>
            <div class="d-flex flex-row p-4" id="id_message_bar">
                <input class="mx-2" id="chat_message_input" placeholder="Write message..."></input>
                <div class="dropdown">
                    <span id="code_snippet_toggle" class="mr-2">
                        <span class="code-snippet-popup" id="id_code_snippet_popup">Code snippets</span>
                        <span class="material-symbols-outlined">
                            code
                        </span>
                    </span>
                    <div id="dropdownContent" class="dropdown-content">
                        <p class="text-align-center">Select language for syntax highlighting: </p>
                        <input type="text" id="searchInput" onkeyup="filterOptions()" placeholder="Search...">
                        <ul id="optionsList">
                            {% for option in language_options %}
                                <li onclick="selectOption('{{ option }}')">{{ option }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <span id="chat_message_submit">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column" id="id_chat_users_container">
            <div class="d-flex flex-column" id="id_chat_users_log">
                <h6 class="chat-users-header">
                    Chatroom Members
                </h6>
                <hr class="chat-users-hr">
                {% for user in chat_users %}
                <div class="d-flex flex-row align-content-center chat-user-container">
                    <div class="d-flex flex-column mr-1 chat-user-picture-container">
                        <a class="user-profile-link-image" href="{% url 'account:profile' pk=user.id %}">
                            <img class="chat-user-image" src="{{ user.profile_image.url }}" alt="{{ user.username }}'s profile image">
                            {% if user.online_status == "online" %}
                            <div class="user-online-circle" id="id_user_{{ user.id }}_online_status"></div>
                            {% elif user.online_status == "offline" %}
                            <div class="user-offline-circle" id="id_user_{{ user.id }}_online_status"></div>
                            {% elif user.online_status == "away" %}
                            <div class="user-away-circle" id="id_user_{{ user.id }}_online_status"></div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="d-flex flex-column ml-1 chat-user-username-container">
                        <a class="user-profile-link-username" href="{% url 'account:profile' pk=user.id %}">
                            <span class="chat-user-username">
                                {{ user.username }}
                            </span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{{ username|json_script:"username" }}
{{ userid|json_script:"userid" }}
{{ user.is_authenticated|json_script:"user_is_authenticated" }}

<script type="text/javascript">
    var chatLog = document.getElementById('chat_log');
</script>

{% include 'chat_scripts/chat_log_adjustments.html' %}

<script type="text/javascript">

    var selectedLanguage = "";

    function selectOption(option) {
        var dropdownContent = document.getElementById("dropdownContent");
        dropdownContent.style.display = "none";
        // Store the selected option in a variable for further use
        selectedLanguage = option.replace(" ", "_");
        var editor = ace.edit("editor");
        var mode = "ace/mode/" + selectedLanguage;
        editor.session.setMode(mode);
    }

    function filterOptions() {
        var input, filter, ul, li, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("optionsList");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            var textValue = li[i].textContent || li[i].innerText;
            if (textValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            } else {
            li[i].style.display = "none";
            }
        }
    }

    function configureCodeSnippets() {
        var codeSnippetDivs = document.getElementsByClassName("code-snippet");
        Array.from(codeSnippetDivs).forEach(function(div) {
            var content = div.getAttribute("data-content");
            var editor = ace.edit(div);
            var language = div.getAttribute("data-language");
            if (language != "") {
                var mode = "ace/mode/" + language;
                editor.session.setMode(mode);
            }
            editor.setValue(content);
            editor.setReadOnly(true);
            editor.setTheme("ace/theme/monokai");
            editor.setOptions({
                highlightActiveLine: false,
                maxLines: 150,
                showPrintMargin: false
            });
        });
    }

    // Call the function after the chatroom messages are rendered
    window.addEventListener('DOMContentLoaded', function() {
        configureCodeSnippets();
    });

    var userIsAuthenticated = JSON.parse(document.getElementById('user_is_authenticated').textContent);

    if (!userIsAuthenticated) {
        var mainContent = document.getElementById("main_content");
        var popupContainer = document.createElement("div");
        popupContainer.setAttribute("id", "popup_container");
        popupContainer.innerHTML = `<div id="popup_message"><h2 id="popup_header">Welcome to Chat DJ4E!</h2><br><br>
            <p>Please register for an account to gain access to the public chatroom. When registered, you can also connect with other users of the site and send private messages.</p><br>
            <p>Chat DJ4E is designed as a space for aspiring and early in career developers to connect with eachother, share ideas and help solve problems. However, anyone is welcome to use the site and participate.</p><br>
            <p>This site was created as an educational tool, and started as a final project for Dr. Chuck Severance's Django For Everybody (DJ4E) course. Any and all feedback is highly encouraged 
            so please feel free to drop me a message under the username @ryand6 with any questions, issues, or if you just want a chat</p><br>
            <p>Potential future features include message reactions and replies. If you have
            any feature suggestions you wish to see, let me know.</p></div>`
        mainContent.appendChild(popupContainer);
        popupContainer.classList.add("show");
        mainContent.classList.add("blur");
    }

    try {
        var lastLoadedMessageId = JSON.parse(document.getElementById('lastSentMessageId').textContent);
    } catch (error) {
        console.log('No messages found in public chat: ', error);
    }

    var requestUsername = JSON.parse(document.getElementById('username').textContent);
    var requestUserid = JSON.parse(document.getElementById('userid').textContent);
    var allMessagesLoaded = false;

    // checks chat log to see if any date separators are present and converts the last date in these list of
    // objects (if present) into the formnat "dd/mm/yyyy" so that it can be compared with current date messages
    // being sent using websockets
    var chatLogDates = document.getElementsByClassName('chat-new-date');
    if (chatLogDates.length > 0) {
        var lastDateObj = chatLogDates[chatLogDates.length - 1];
        var lastDateSent = lastDateObj.innerHTML;
        var lastDateSentAsObj = new Date(lastDateSent);
        var lastDateSentFormatted = lastDateSentAsObj.toLocaleDateString("en-GB");
    }
    else {
            var lastDateSentFormatted = "";
        }

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/public_chat/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const messagesElement = document.querySelector('#chat_log');

        let dateObj = new Date(data.timestamp);
        let websocketMessageDateSentFormatted = dateObj.toLocaleDateString("en-GB");

        let isDateSeparatorAdded = false;

        // if websocket message sent on new day, add the date separator to the document before adding the message
        if (websocketMessageDateSentFormatted != lastDateSentFormatted) {
            const dateSeperatorContainer = document.createElement('div');
            dateSeperatorContainer.classList.add('date-separator');
            const dateSeperatorDashesSpan1 = document.createElement('span');
            dateSeperatorDashesSpan1.classList.add('date-separator-dashes');
            const dateSeperatorDashesSpan2 = document.createElement('span');
            dateSeperatorDashesSpan2.classList.add('date-separator-dashes');
            var dateSeperatorDateSpan = document.createElement('span');
            dateSeperatorDateSpan.classList.add('chat-new-date');

            // format date of iso string to match that of page reload date separator
            let isoDate = data.timestamp;
            let date = new Date(isoDate);
            let formattedDate = formatter.format(date);
            dateSeperatorDateSpan.textContent = " " + formattedDate + " ";

            let dashCount = addDashesWebSocket(dateSeperatorDateSpan);
            // remove style properties set by temp element when calling addDashesWebSocket
            dateSeperatorDateSpan.style.removeProperty('visibility');
            dateSeperatorDateSpan.style.removeProperty('position');

            // add dashes for either side of the date
            dateSeperatorDashesSpan1.innerHTML = "&ndash;".repeat(dashCount);
            dateSeperatorDashesSpan2.innerHTML = "&ndash;".repeat(dashCount);

            dateSeperatorContainer.appendChild(dateSeperatorDashesSpan1);
            dateSeperatorContainer.appendChild(dateSeperatorDateSpan);
            dateSeperatorContainer.appendChild(dateSeperatorDashesSpan2);
            messagesElement.appendChild(dateSeperatorContainer);

            isDateSeparatorAdded = true;

            lastDateSentFormatted = websocketMessageDateSentFormatted;
        }

            const messageElement = document.createElement('div');
            messageElement.classList.add('chatroom-message-container');

            const pictureElement = document.createElement('div');
            pictureElement.classList.add('chatroom-picture-container');

            if (data.profile_pic) {
                let linkUrl = "/account/" + requestUserid + "/";
                const imageElementLink = document.createElement('a');
                imageElementLink.classList.add('user-profile-link-image');
                imageElementLink.setAttribute("href", linkUrl);
                const imageElement = document.createElement('img');
                imageElement.src = data.profile_pic;
                imageElement.alt = data.username + '\'s profile image';
                imageElement.classList.add('chatroom-message-user-pic')
                imageElementLink.appendChild(imageElement);
                pictureElement.appendChild(imageElementLink);

                if (isDateSeparatorAdded == false) {
                    // separate messages from different users
                    const para1 = document.createElement('p');
                    const para2 = document.createElement('p');
                    messagesElement.appendChild(para1);
                    messagesElement.appendChild(para2);
                }
            }

        const messageBodyElement = document.createElement('div');
        messageBodyElement.classList.add('chatroom-message-body-container');

        const messageHeaderElement = document.createElement('div');
        messageHeaderElement.classList.add('chatroom-message-headers-container');

        const messageTextElement = document.createElement('div');
        messageTextElement.classList.add('chatroom-message-text-container');

        messageBodyElement.appendChild(messageHeaderElement);
        messageBodyElement.appendChild(messageTextElement);

        if (data.username) {
            let linkUrl = "/account/" + requestUserid + "/";
            const usernameElementLink = document.createElement('a');
            usernameElementLink.classList.add('user-profile-link-username');
            usernameElementLink.setAttribute("href", linkUrl);
            // if message is from current user, make their username in the message orange
            if (data.username == requestUsername) {
                const authorElement = document.createElement('span');
                authorElement.classList.add('chatroom-message-author-current-user');
                authorElement.textContent = data.username;
                usernameElementLink.appendChild(authorElement);
                messageHeaderElement.appendChild(usernameElementLink);
            }
            else {
                const authorElement = document.createElement('span');
                authorElement.classList.add('chatroom-message-author-other-user');
                authorElement.textContent = data.username;
                usernameElementLink.appendChild(authorElement);
                messageHeaderElement.appendChild(usernameElementLink);
            }
        }

        if (data.code) {
            const bodyElement = document.createElement('div');
            bodyElement.classList.add('code-snippet');
            bodyElement.setAttribute('id', 'code_snippet_temp');
            bodyElement.setAttribute('data-content', data.message);
            bodyElement.setAttribute('data-language', data.language);
            messageTextElement.appendChild(bodyElement);
        } else {
            const bodyElement = document.createElement('span');
            bodyElement.classList.add('chatroom-message-body');
            bodyElement.textContent = data.message;
            messageTextElement.appendChild(bodyElement);
        }

        const timestampElement = document.createElement('span');
        timestampElement.classList.add('chatroom-message-timestamp');
        // convert iso format timestamp into date object so that it can be parsed
        let timestampObj = new Date(data.timestamp);
        // convert iso timestamp into "hh:mm" format for chat log
        let formattedTime = dateObj.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
        timestampElement.textContent = formattedTime;
        messageTextElement.appendChild(timestampElement);

        // add message to chat log
        messageElement.appendChild(pictureElement);
        messageElement.appendChild(messageBodyElement);
        messagesElement.appendChild(messageElement);

        // is current user sends new message, auto scroll to bottom of chat log
        if (requestUsername == data.username_hidden) {
            setTimeout(function() {
                messagesElement.scrollTop = messagesElement.scrollHeight;
            }, 100);
        }

        configureCodeSnippets();
    }

    chatSocket.onerror = function(e) {
        // Handle websocket errors
        console.error('Websocket error', event);
        };

    document.querySelector('#chat_message_input').focus();

    // if user presses enter, send message
    document.querySelector('#chat_message_input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat_message_submit').click();
        }
    };

    var codeSnippetText;

    document.querySelector('#code_snippet_toggle').onclick = function(e) {
        let codeEditor = document.getElementById('editor');
        let textInput = document.getElementsByClassName('emojionearea');
        let messageBar = document.getElementById('id_message_bar');
        let codeSnippetPopup = document.getElementById('id_code_snippet_popup');
        if (codeEditor === null) {
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";

            codeSnippetPopup.style.setProperty("visibility", "hidden", "important");
            for (var i = 0; i < textInput.length; i++) {
                textInput[i].style.visibility = "hidden";
            }
            messageBar.style.height = "25%";
            let codeEditor = document.createElement('div');
            codeEditor.setAttribute('id', 'editor');
            messageBar.insertBefore(codeEditor, messageBar.firstChild);
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().on('change', function () {
                codeSnippetText = editor.getSession().getValue();
            })
        }
        else {
            selectedLanguage = "";
            messageBar.removeChild(codeEditor);
            for (var i = 0; i < textInput.length; i++) {
                textInput[i].style.visibility = "visible";
            }
            messageBar.style.height = "10%";
            codeSnippetText = "";
        }
    };

    document.querySelector('#chat_message_submit').onclick = function(e) {
        let textInput = document.getElementsByClassName('emojionearea');
        let codeFlag = false;
        if (textInput[0].style.visibility == 'hidden') {
            var message = codeSnippetText;
            codeFlag = true;
            chatSocket.send(JSON.stringify({
                'message': message,
                'code': codeFlag,
                'language': selectedLanguage
            }));
            let messageBar = document.getElementById('id_message_bar');
            let codeEditor = document.getElementById('editor');
            messageBar.removeChild(codeEditor);
            for (var i = 0; i < textInput.length; i++) {
                textInput[i].style.visibility = "visible";
            }
            messageBar.style.height = "10%";
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.style.display = "none";
            codeSnippetText = "";
            selectedLanguage = "";
        }
        else {
            var message = $("#chat_message_input").data('emojioneArea').getText();
            // clears input element text - can't clear text just by setting elements value to empty
            // string when using emoji picker
            var emojioneAreas = $("#chat_message_input").emojioneArea(); 
            emojioneAreas.data("emojioneArea").setText('');
            chatSocket.send(JSON.stringify({
                'message': message,
                'code': codeFlag,
                'language': selectedLanguage
            }));
        }
    };

    
    chatLog.addEventListener('scroll', function() {
        // used to retrieve previous 40 messages when scrolling up until all previous messages have been retrieved
        if (chatLog.scrollTop == 0 && allMessagesLoaded == false){

            $.ajax({
                type: 'GET',
                url: 'get_previous_messages/',
                dataType: 'json',
                data: {"message_id": lastLoadedMessageId},
                success: function(response) {
                    var messages = response.messages;
                    let fragment = document.createDocumentFragment();
                    for (var i = messages.length - 1; i >= 0; i--) {
                        let message = messages[i];
                        let username = message.username;
                        let timestamp = message.timestamp;
                        let userid = message.userid;
                        let language = message.language;
                        let timestampAsObj = new Date(timestamp);
                        let timestampFormattedAsDate = formatter.format(timestampAsObj);
                        let timestampFormattedAsTime = timestampAsObj.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
                        
                        let text = message.message;
                        let profile_pic = message.profile_pic;
                        
                        let isDateSeparatorRequired = false;
                        let isProfileLinkRequired = false;
                        let dateSeparatorDiv = null;
                        let para1 = null;
                        let para2 = null;

                        if (i == messages.length - 1) {
                            // only show new date separator regardless of if date has changed when at end of previous message results
                            if (messages.length < 40) {
                                isDateSeparatorRequired = true;
                                isProfileLinkRequired = true;
                            }
                        }
                        else {
                            let prevTimestamp = messages[i + 1].timestamp;
                            let prevTimestampAsObj = new Date(prevTimestamp);
                            let prevTimestampFormattedAsDate = formatter.format(prevTimestampAsObj);

                            if (timestampFormattedAsDate != prevTimestampFormattedAsDate) {
                                isDateSeparatorRequired = true;
                                isProfileLinkRequired = true;
                            }
                            else if (username != messages[i + 1].username) {
                                para1 = document.createElement('p');
                                para2 = document.createElement('p');
                                isProfileLinkRequired = true;
                            }
                        }

                        let messageElement = document.createElement('div');
                        messageElement.classList.add("chatroom-message-container");

                        let pictureContainer = document.createElement('div');
                        pictureContainer.classList.add("chatroom-picture-container");

                        let messageBodyContainer = document.createElement('div');
                        messageBodyContainer.classList.add("chatroom-message-body-container")

                        let headersContainer = document.createElement('div');
                        headersContainer.classList.add("chatroom-message-headers-container")

                        if (isDateSeparatorRequired) {
                            dateSeparatorDiv = document.createElement('div');
                            dateSeparatorDiv.classList.add('date-separator');
                            dateSeparatorDiv.innerHTML = `<span class="date-separator-dashes"></span>
                                <span class="chat-new-date" id="id_chat_new_date">${timestampFormattedAsDate}</span>
                                <span class="date-separator-dashes"></span>`
                        }

                        if (isProfileLinkRequired) {
                            let profileImageLink = document.createElement('a');
                            profileImageLink.classList.add("user-profile-link-image");
                            profileImageLink.href = "/account/" + userid + "/";

                            let profileImage = document.createElement('img');
                            profileImage.classList.add("chatroom-message-user-pic");
                            profileImage.setAttribute("src", profile_pic);
                            profileImage.alt = username + "'s profile image";
                            profileImageLink.appendChild(profileImage);
                            pictureContainer.appendChild(profileImageLink);

                            let usernameLink = document.createElement('a');
                            usernameLink.classList.add("user-profile-link-username");
                            usernameLink.setAttribute("href", `/account/${userid}/`);

                            if (username == requestUsername) {
                                let profileUsername = document.createElement('span');
                                profileUsername.classList.add("chatroom-message-author-current-user");
                                profileUsername.textContent = username;
                                usernameLink.appendChild(profileUsername);
                            }
                            else {
                                let profileUsername = document.createElement('span');
                                profileUsername.classList.add("chatroom-message-author-other-user");
                                profileUsername.textContent = username;
                                usernameLink.appendChild(profileUsername);
                            }
                            headersContainer.appendChild(usernameLink);
                        }

                        messageElement.appendChild(pictureContainer);
                        
                        messageBodyContainer.appendChild(headersContainer);
                        
                        let textContainer = document.createElement('div');
                        textContainer.classList.add("chatroom-message-text-container");

                        if (message.code == true) {
                            const bodyElement = document.createElement('div');
                            bodyElement.classList.add('code-snippet');
                            bodyElement.setAttribute('id', 'code_snippet_temp');
                            bodyElement.setAttribute('data-content', text);
                            bodyElement.setAttribute('data-language', language);
                            textContainer.appendChild(bodyElement);
                        } else {
                            const bodyElement = document.createElement('span');
                            bodyElement.classList.add('chatroom-message-body');
                            bodyElement.textContent = text;
                            textContainer.appendChild(bodyElement);
                        }

                        const timestampElement = document.createElement('span');
                        timestampElement.classList.add('chatroom-message-timestamp');
                        timestampElement.textContent = timestampFormattedAsTime;
                        textContainer.appendChild(timestampElement);

                        messageBodyContainer.appendChild(textContainer);
                        messageElement.appendChild(messageBodyContainer);

                        if (dateSeparatorDiv != null) {
                            fragment.appendChild(dateSeparatorDiv);
                        }
                        else if (para1 != null && para2 != null){
                            fragment.appendChild(para1);
                            fragment.appendChild(para2);
                        }
                        fragment.appendChild(messageElement);
                        if (i == messages.length - 1) {
                            lastLoadedMessageId = message.id;
                        }
                    }
                    if (messages.length < 40){
                            allMessagesLoaded = true;
                        }

                    // create temp container to measure the height of all new messages
                    var tempNewMessagesContainer = document.createElement('div');
                    tempNewMessagesContainer.classList.add('temp-new-messages-container');
                    // cloneNode keeps a copy of fragment with the elements inside so that it can still be used to be inserted
                    // into the document - otherwise the appendChild method removes the elements from the fragment
                    tempNewMessagesContainer.appendChild(fragment.cloneNode(true));
                    tempNewMessagesContainer.style.visibility = 'hidden';
                    tempNewMessagesContainer.style.position = 'absolute';
                    document.body.appendChild(tempNewMessagesContainer);
                    var newMessagesHeight = tempNewMessagesContainer.offsetHeight;
                    document.body.removeChild(tempNewMessagesContainer);
                    // insert new messages into top of chat log
                    chatLog.prepend(fragment);

                    // adjust scrollTop value when new messages are inserted to prevent scroll moving to the top
                    // of the newly inserted messages - allows user to remain at the point they scrolled to and can
                    // continue to scroll up to see new messages
                    chatLog.scrollTop = chatLog.scrollTop + newMessagesHeight;
                    addDashesPageLoad();

                    configureCodeSnippets();
                }
            });
        }
    })

</script>

{% include 'chat_scripts/emoji_picker.html' %}

{% endblock %}