{% extends "base_bootstrap.html" %}
{% load static %}
{% block navbar %}
{% load app_tags %}

<style type="text/css">

    .navbar{
        background-image: linear-gradient(to bottom,#222 0,#3c3c3c 100%);
        height: 65px;
    }

    .navbar-header {
        margin-right: 6em;
    }

    .navbar-brand{
        color: #ffffff;
        margin-right: 1rem;
    }

    .navbar-brand:hover{
        color: #c7abff;
    }

    .navbar-right a{
        color: #ffffff;
        margin-left: 1rem;
    }

    .dropdown-menu{
        background-color: grey;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    }

    .btn-group{
        margin-right: 1rem;
    }

    #id_chat_notifications_icon{
        font-size: 75%;
    }

    #id_friend_requests_icon{
        font-size: 125%;
    }

    #id_navbar_left_1{
        width: 65%;
        align-items: center;
        flex-wrap: nowrap;

    }

    #id_navbar_left-2{
        flex-wrap: nowrap;
        align-items: center;
        align-content: stretch;
        justify-content: start;
        align-self: stretch;
        flex-grow: 1;
    }

    #id_navbar_left-2 div a{
        color: #ffffff;
    }

    #id_navbar_left-2 div a:hover{
        color:#c7abff;
        text-decoration: none;
    }

    .flex-item-1{
        flex-grow: 1;
        font-size: 14px;
    }

    .flex-item-2{
        flex-grow: 2;
    }

    .search-bar{
        flex-grow: 1;
        font-size: 12px;
    }

    .nav{
        justify-content: end;
        align-items: center;
    }

    .notification-pic{
        border: 1px;
        border-color: black;
        display: block;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: white;
        margin-left: 1em;
    }

    .notification-message-container{
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 0.5em;
        border-radius: 10px;
        max-width: 200px;
        height: 50px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .notification-picture-container{
        display: flex;
        flex-direction: column;
        height: 35px;
        min-width: 35px;
        margin-right: 1em;
    }

    .notification-body-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .notification-headers-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .notification-text-container{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .notification-sender{
        display: flex;
        font-size: 10pt;
        font-weight: bold;
        color: purple;
    }

    .notification-message{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 8pt;
        color: black;
        width: 75%;
    }

    .popup-notification-link{
        text-decoration: none !important;
    }
    
    .notification-timestamp{
        margin-left: auto;
        text-decoration: none !important;
        font-size: 6pt;
        color: black;
    }

    .friend-notification-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        padding: 0.5em;
        border-radius: 10px;
        flex-wrap: wrap;
        height: 50px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 1em;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .friend-notification-pic{
        border: 1px;
        border-color: black;
        display: block;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .friend-notification-sender{
        display: flex;
        font-size: 8pt;
        font-weight: bold;
        color: purple;
        margin-left: 0.5em;
    }

    .friend-notification-message{
        font-size: 8pt;
        color: black;
        margin-left: 0.5em;
    }

    #id_friend_notifications_dropdown{
        width: 400px;
        max-height: 600px;
        overflow-x: hidden;
        overflow-y: visible;
    }

    .friend-request-notification-option{
        line-height: 0;
        height: 1em;
        width: 5em;
        margin-left: auto;
        margin-right: 0.5em;
        font-size: 8pt;
        padding: 10px;
    }

    .friend-request-notification-profile-link{
        z-index: 20000;
        text-decoration: none !important;
    }

    #id_friend_notifications:hover {
        color: #c7abff;
        cursor: pointer;
    }

    #id_profile_options:hover {
        cursor: pointer;
    }

    .confirm-request-button {
        background-color: #9779a8;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        color: white;
    }

    .confirm-request-button:hover {
        background-color: #b769e0;
        color: white;
    }

    .dropdown-item {
        font-weight: bold;
    }

</style>
<nav class="navbar navbar-default navbar-inverse shadow-sm">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-space-between" id="id_navbar_left_1">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
            </div>
            <div class="d-flex flex-row" id="id_navbar_left-2">
                <div class="flex-item-1 other-chats-div">
                    {% if user.is_authenticated %}
                    <a href="{% url 'privatechat:all' request.user.id %}" class="other-chats-link">Other Chats</a>
                        {% if unread_message_notifications > 0 %}
                            <span class="badge badge-pill badge-danger message-notification-count">{{ unread_message_notifications }}</span>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}">Other Chats</a>
                    {% endif %}
                </div>
                <div class="flex-item-2">
                    <form class="search-bar pl-4" onsubmit="return runSearch();">
                        <input type="text" class="form-control" name="search" id="id_search_bar" placeholder="Search...">
                    </form>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="nav" id="id_navbar_right">
            <div class="dropdown dropleft show p-2">
                <div class="d-flex flex-row">
                    <div class="btn-group dropleft">
                        <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_friend_notifications_toggle"
                        data-toggle="dropdown">
                            <span class="material-symbols-outlined mr-1" id="id_friend_notifications">group_add</span>
                            {% if friend_notifications_count > 0 %}
                                <span class="badge badge-pill badge-danger friend-notification-count">{{ friend_notifications_count }}</span>
                            {% endif %}
                            <div class="dropdown-menu scrollable-menu" style="right: 0; left: auto;" aria-labelledby="id_friend_notifications_toggle" id="id_friend_notifications_dropdown">
                                {% if active_friend_notifications %}
                                    {% for friend_notification in active_friend_notifications %}
                                        {% if friend_notification.received_request %}
                                            <div class="friend-notification-container" id="friend_notification_container_{{ friend_notification.id }}">
                                                <a class="d-flex friend-request-notification-profile-link" href="{% url 'account:profile' friend_notification.sender.id %}" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');">
                                                    <img class="d-flex friend-notification-pic" src="{{ friend_notification.sender.profile_image.url }}" alt="notification sender {{ friend_notification.sender.username }}'s profile image">
                                                </a>
                                                <a class="d-flex friend-request-notification-profile-link" href="{% url 'account:profile' friend_notification.sender.id %}" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');">
                                                    <span class="d-flex friend-notification-sender" id="id_friend_notification_sender_username_{{ friend_notification.id }}">{{ friend_notification.sender.username }} </span>
                                                </a>
                                                <span class="d-flex friend-notification-message">sent you a friend request</span>
                                                <a class="d-flex btn confirm-request-button confirm-friend-request friend-request-notification-option" id="id_confirm_friend_request" data-request-url="{% url 'friends:accept_friend_request' %}" 
                                                data-friend-request-id="{{ friend_notification.friend_request_id }}" onclick='acceptFriendRequest(this)'>Confirm</a>
                                                <a class="d-flex btn btn-secondary decline-friend-request friend-request-notification-option" 
                                                id="id_decline_friend_request" data-request-url="{% url 'friends:decline_friend_request' %}" data-friend-request-id="{{ friend_notification.friend_request_id }}" onclick='declineFriendRequest(this)'>Decline</a>
                                            </div>
                                        {% elif friend_notification.accepted_request %}
                                            <div class="friend-notification-container" id="friend_notification_container_{{ friend_notification.id }}">
                                                <a class="d-flex friend-request-notification-profile-link" href="{% url 'account:profile' friend_notification.sender.id %}" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');">
                                                    <img class="d-flex friend-notification-pic" src="{{ friend_notification.sender.profile_image.url }}" alt="notification sender {{ friend_notification.sender.username }}'s profile image">
                                                </a>
                                                <a class="d-flex friend-request-notification-profile-link" href="{% url 'account:profile' friend_notification.sender.id %}" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');">
                                                    <span class="d-flex friend-notification-sender" id="id_friend_notification_sender_username_{{ friend_notification.id }}">{{ friend_notification.sender.username }} </span>
                                                </a>
                                                <span class="d-flex friend-notification-message">accepted your friend request</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="btn-group dropleft">
                        <img style="border: 1px solid white; background-color: white;" class="account-image rounded-circle m-auto d-block dropdown-toggle ml-5" id="id_profile_options"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{ request.user.profile_image.url }}" alt="default user image" height="30" width="30">
                        <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="id_profile_options">
                            <a class="dropdown-item" href="{% url 'account:profile' request.user.id %}">Account</a>
                            <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'publicchat:all' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="nav" id="id_navbar_right">
            <div class="navbar-right">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a href="{% url 'login' %}?next={% url 'publicchat:all' %}">Login</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right">
                <a class="btn btn-outline-primary" href="{% url 'account:register' %}">Register</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>

{{ request.user.id|json_script:"userid" }}

<script type="text/javascript">

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    // Production - port 8001 required
    var ws_path = ws_scheme + "://" + window.location.host + ":8001";

    var requestUserid = JSON.parse(document.getElementById('userid').textContent);
    var token = "{{ csrf_token }}";

    $(document).ready(function() {
    // Set initial user activity time
    var userActivityTime = new Date().getTime();
    var userStatus = document.getElementById(`id_user_${requestUserid}_online_status`);
    var requestInProgress = false;

        // Update user activity time on mousemove event
        $(document).mousemove(function() {
            userActivityTime = new Date().getTime();

            if (userStatus !== null) {
                if (!requestInProgress) {
                    if (userStatus.classList.contains('user-away-circle') || userStatus.classList.contains('user-offline-circle')) {
                        requestInProgress = true;
                        $.ajax({
                            url: window.location.protocol + "//" + window.location.host + "/notifications/set_user_status_online/",
                            method: "POST",
                            data: {status: "online", "csrfmiddlewaretoken": token,},
                            success: function(response) {
                                // user status updated to online
                            },
                            error: function(error) {
                                console.log("Error updating user status to online: " + error);
                            },
                            complete: function() {
                                requestInProgress = false;
                            }
                        });
                    }
                }
            }
        });

        // Update user activity time on keydown event
        $(document).keydown(function() {
            userActivityTime = new Date().getTime();

            if (userStatus !== null) {
                if (!requestInProgress) {
                    if (userStatus.classList.contains('user-away-circle') || userStatus.classList.contains('user-offline-circle')) {
                        requestInProgress = true;
                        $.ajax({
                            url: window.location.protocol + "//" + window.location.host + "/notifications/set_user_status_online/",
                            method: "POST",
                            data: {status: "online", "csrfmiddlewaretoken": token,},
                            success: function(response) {
                                // User status updated to online
                            },
                            error: function(error) {
                                console.log("Error updating user status to online: " + error);
                            },
                            complete: function() {
                                requestInProgress = false;
                            }
                        });
                    }
                }
            }
        });

        // Check user activity time every minute and update status if necessary
        setInterval(function() {
            var now = new Date().getTime();
            var idle_time = now - userActivityTime;
            if (idle_time > 15 * 60 * 1000) { 
                // User has been idle for more than 15 mins, update status to "away"
                $.ajax({
                    url: window.location.protocol + "//" + window.location.host + "/notifications/set_user_status_away/",
                    method: "POST",
                    data: {status: "away", "csrfmiddlewaretoken": token,},
                    success: function(response) {
                        // User status updated to away
                    },
                    error: function(error) {
                        console.log("Error updating user status to away: " + error);
                    }
                });
            }
        }, 60000); // Check every 60 secs
    });

    function runSearch(){
        var query = document.getElementById("id_search_bar").value;
        window.location.replace("{% url 'account:search' %}?search=" + query);
        return false;
    }
    
</script>

<script type="text/javascript">
    var navBarRight = document.getElementById('id_navbar_right');
    var otherChatsDiv = document.querySelector('.other-chats-div');
    var friendNotificationDropdown = document.getElementById('id_friend_notifications_dropdown');
    var oldNotification;

    var fullUrlOrigin = window.location.origin

    // for handling iso format date conversions
    var options = {day: 'numeric', month: 'long', year: 'numeric'};
    var formatter = new Intl.DateTimeFormat('en-GB', options);

    const isAuthenticated = "{{ user.is_authenticated }}";
    var userId = "{{ user.id }}";

    // handle online status websocket real time updates for all users
    if (isAuthenticated === "True") {
        const onlineStatusSocket = new WebSocket(
            ws_path + '/ws/online_status/'
        );

        onlineStatusSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)

            const userid = data.user_id;
            const onlineStatus = data.status;
            const statusElement = document.getElementById(`id_user_${userid}_online_status`);
            if (statusElement !== null) {
                if (onlineStatus == 'connected') {
                    statusElement.classList.remove('user-offline-circle');
                    statusElement.classList.remove('user-away-circle');
                    statusElement.classList.add('user-online-circle');
                }
                else if (onlineStatus == 'disconnected') {
                    statusElement.classList.remove('user-online-circle');
                    statusElement.classList.remove('user-away-circle');
                    statusElement.classList.add('user-offline-circle');
                }
                else if (onlineStatus == "away") {
                    statusElement.classList.remove('user-offline-circle');
                    statusElement.classList.remove('user-online-circle');
                    statusElement.classList.add('user-away-circle');
                }
            }
        }
    }

    if (isAuthenticated === "True") {

        const notificationSocket = new WebSocket(
            ws_path + '/ws/notifications/' + userId + '/'
        );

        storeUserTimezoneOffset();

        notificationSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);

            var timestampAsObj = new Date(data.timestamp);
            var timestampFormattedAsDate = formatter.format(timestampAsObj);

            if (data.type == "message_notification") {
                oldNotification = document.querySelector('.popup-notification-link');

                var newNotification = document.createElement('a');
                newNotification.setAttribute("href", `/privatechat/${data.room_id}/chat/`);
                newNotification.classList.add('popup-notification-link');
                newNotification.setAttribute("id", `notification_link_${data.notification_id}`)
                newNotification.innerHTML = `<div class="notification-message-container"><div class="notification-picture-container">
                        <img class="notification-pic" src="${data.profile_pic}" alt="notification sender ${data.sender}'s profile image"></div>
                        <div class="notification-body-container"><div class="notification-headers-container"><span class="notification-sender" id="id_notification_sender_username_${data.notification_id}">
                        ${data.sender}</span><span class="notification-timestamp" id="id_notification_timestamp_${data.notification_id}">${timestampFormattedAsDate}</span>
                        </div><div class="notification-text-container"><span class="notification-message" id="id_notification_message_${data.notification_id}">
                        ${data.message}</span></div></div></div>`
                showPopupNotification(newNotification, 5000);
            } else if (data.type == "friend_notification") {
                let friendNotificationDiv = document.createElement('div');
                friendNotificationDiv.classList.add('friend-notification-container');
                friendNotificationDiv.setAttribute("id", `friend_notification_container_${data.notification_id}`);
                if (data.status == "friend request received") {
                    friendNotificationDiv.innerHTML = `<a class="d-flex friend-request-notification-profile-link" href="${fullUrlOrigin}/account/${data.sender_id}/" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');"><img class="d-flex friend-notification-pic" src="${data.profile_pic}" 
                            alt="notification sender ${data.sender}'s profile image"></a><a class="d-flex friend-request-notification-profile-link" href="${fullUrlOrigin}/account/${data.sender_id}/" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');">
                            <span class="d-flex friend-notification-sender" id="id_friend_notification_sender_username_${data.notification_id}">${data.sender} </span></a><span class="d-flex friend-notification-message">sent you a friend request</span>
                            <a class="d-flex btn confirm-request-button confirm-friend-request friend-request-notification-option" id="id_confirm_friend_request" data-request-url="${fullUrlOrigin}/friends/friend_request_accept/" 
                            data-friend-request-id="${data.friend_request_id}" onclick='acceptFriendRequest(this)'>Confirm</a><a class="d-flex btn btn-secondary decline-friend-request friend-request-notification-option" 
                            id="id_decline_friend_request" data-request-url="${fullUrlOrigin}/friends/friend_request_decline/" data-friend-request-id="${data.friend_request_id}" onclick='declineFriendRequest(this)'>Decline</a>`
                    friendNotificationDropdown.insertBefore(friendNotificationDiv, friendNotificationDropdown.firstChild);
                } else if (data.status == "friend request accepted") {
                    friendNotificationDiv.innerHTML = `<a class="d-flex friend-request-notification-profile-link" href="${fullUrlOrigin}/account/${data.sender_id}/" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');"><img class="d-flex friend-notification-pic"
                            src="${data.profile_pic}" alt="notification sender ${data.sender}'s profile image"></a><a class="d-flex friend-request-notification-profile-link" 
                            href="${fullUrlOrigin}/account/${data.sender_id}/" onclick="event.preventDefault(); window.location.href=this.getAttribute('href');"><span class="d-flex friend-notification-sender" id="id_friend_notification_sender_username_${data.notification_id}">${data.sender} </span></a>
                            <span class="d-flex friend-notification-message">accepted your friend request</span>`
                    friendNotificationDropdown.insertBefore(friendNotificationDiv, friendNotificationDropdown.firstChild);
                }
                updateFriendNotifications();
            }

            notificationSocket.onclose = function(e) {
                console.error('Notification socket closed unexpectedly');
                location.reload();
            };

            notificationSocket.onerror = function(e) {
                // Handle websocket errors
                console.error('Websocket error', event);
            };
        }
    }


    function storeUserTimezoneOffset() {
        var tzOffset = new Date().getTimezoneOffset();

        requestData = {
            "csrfmiddlewaretoken": token,
            "tz_offset": tzOffset,
        }
        $.ajax({
            url: window.location.protocol + "//" + window.location.host + "/account/store_timezone_offset/",
            type: 'POST',
            dataType: "json",
            timeout: 5000,
            data: requestData,
            success: function(data) {
                if (data['response'] == "success") {
                    // stored users timezone offset
                }
            },
            error: function(data) {
                alert("Something went wrong");
            }
        });
    }


    function showPopupNotification(element, duration) {

        // only allow one message notification on screen at a time
        if (oldNotification !== null) {
            navBarRight.removeChild(oldNotification);

            // if new notification is replacing old notification, allow 0.5s gap
            setTimeout(function() {
                navBarRight.insertBefore(element, navBarRight.firstChild);
            }, 500);
        } else {
            navBarRight.insertBefore(element, navBarRight.firstChild);
        }

        updateNotifications();

        // remove pop up notification from screen after specified amount of time
        setTimeout(function() {
            navBarRight.removeChild(element);
        }, duration);
    }


    function updateNotifications() {
        $.ajax({
            type: "GET",
            url: window.location.protocol + "//" + window.location.host + "/notifications/update_notifications/",
            success: function (data) {
                var unreadNotifications = data.unread_notifications;
                if (unreadNotifications > 0) {
                    let messageNotificationCount = document.querySelector('.message-notification-count');
                    if (messageNotificationCount !== null) {
                        messageNotificationCount.textContent = unreadNotifications;
                    } else {
                        let notificationsSpan = document.createElement('span');
                        notificationsSpan.classList.add('badge');
                        notificationsSpan.classList.add('badge-pill');
                        notificationsSpan.classList.add('badge-danger');
                        notificationsSpan.classList.add('message-notification-count');
                        notificationsSpan.textContent = unreadNotifications;
                        otherChatsDiv.appendChild(notificationsSpan);
                    }
                }
            }
        });
    }

    function updateFriendNotifications() {
        $.ajax({
            type: "GET",
            url: window.location.protocol + "//" + window.location.host + "/notifications/update_friend_notifications/",
            success: function (data) {
                var unreadNotifications = data.unread_friend_notifications;
                var messageNotificationCount = document.querySelector('.friend-notification-count');
                var friendNotificationDiv = document.getElementById('id_friend_notifications_toggle');
                if (unreadNotifications > 0) {
                    if (messageNotificationCount !== null) {
                        messageNotificationCount.textContent = unreadNotifications;
                    } else {
                        let notificationsSpan = document.createElement('span');
                        notificationsSpan.classList.add('badge');
                        notificationsSpan.classList.add('badge-pill');
                        notificationsSpan.classList.add('badge-danger');
                        notificationsSpan.classList.add('friend-notification-count');
                        notificationsSpan.textContent = unreadNotifications;
                        friendNotificationDiv.appendChild(notificationsSpan);
                    }
                } else if (unreadNotifications == 0 && messageNotificationCount !== null) {
                    friendNotificationDiv.removeChild(messageNotificationCount);
                }
            }
        });
    }

    friendNotifications = document.querySelector('#id_friend_notifications');

    if (friendNotifications !== null) {
        friendNotifications.onclick = function(e) {
        var messageNotificationCount = document.querySelector('.friend-notification-count');
        if (messageNotificationCount !== null) {
            $.ajax({
                    type: 'GET',
                    url: window.location.protocol + "//" + window.location.host + "/notifications/update_accepted_friend_request_notifications/",
                    dataType: 'json',
                    success: function(data) {
                        if (data.response == "success") {
                            updateFriendNotifications();
                        }
                    }
                });
            }
        }
    }

    window.addEventListener('beforeunload', function (e) {
        requestData = {
            "csrfmiddlewaretoken": token,
        }
        // Send an AJAX request to update the user's status to offline when a user closes tab with site on or navigates to different site
        $.ajax({
            url: window.location.protocol + "//" + window.location.host + "/notifications/set_user_status_offline/",
            method: 'POST',
            data: requestData,
            async: false
        });
    });

</script>

{% include 'scripts/accept_friend_request.html' %}
{% include 'scripts/decline_friend_request.html' %}

{% endblock navbar %}
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}