{% extends "base_menu.html" %}
{% block content %}
<style type="text/css">

    body{
        overflow-y: hidden;
    } 

    #id_chat_log_container{
        height: calc(100vh - 155px);
        width: 100%;
        max-width: 2000px;
        flex: 1;
        padding-left: 0;
        padding-right: 0;
    }

    #id_all_private_chats_container{
        width: 100%;
        height: 100%;
        padding: 2em;
        background-color: #303333;
    }

    #id_private_chats_log{
        background-color: #3d3d3d;
        padding: 1em;
        overflow-x: hidden;
        overflow-y: visible;
        border-radius: 15pt;
    }

    .private-chats-room-pic{
        border: 1px;
        border-color: white;
        display: block;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        background-color: white;
        margin-left: 1em;
    }

    .private-chats-room-message-container{
        display: flex;
        flex-direction: row;
        background-color: #272729;
        padding: 0.5em;
        border-radius: 10px;
        margin-top: 0.5em;
        transition: background-color 0.1s ease-in-out;
    }

    .private-chats-room-message-container:hover {
        background-color: #4b4b4d;
    }

    .private-chats-room-picture-container{
        display: flex;
        flex-direction: column;
        max-height: 75px;
        min-width: 75px;
    }

    .private-chats-room-body-container{
        width: 75%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
    }

    .private-chats-room-headers-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }

    .private-chats-room-message-text-container{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .private-chats-room-members{
        display: flex;
        font-size: 14pt;
        font-weight: bold;
        color: white;
    }

    .private-chats-room-last-message{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #E7F6F2;
        width: 75%;
    }

    .user-online-circle{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: green; 
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        z-index: 1;
        border: 1px;
        border-color: white;
    }

    .user-offline-circle{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: lightgrey; 
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        z-index: 1;
        border: 1px;
        border-color: white;
    }

    .private-chat-link{
        text-decoration: none !important;
    }
    
    .private-chats-room-last-date-sent{
        margin-left: auto;
        text-decoration: none !important;
        color: white;
    }

    .private-message-notification-count{
        margin-left: auto;
        margin-right: 1em;
    }

    .private-all-chats-banner{
        background-color: #242729;
        height: 60px;
        width: 100%;
        max-width: 2000px;
        align-items: center;
    }

    .private-all-chats-banner-text{
        font-weight: bold;
        margin-left: 4em;
    }

    .no-chats-text-container{
        margin-left: 10em;
        margin-right: 10em;
        border-radius: 15pt;
        padding: 2em;
    }

    .no-chats-text{
        font-size: 14pt;
    }

    @media (max-width: 649px) {
        .private-all-chats-banner-text {
            font-size: 16pt;
            margin-left: 20px;
        }

        .private-chats-room-picture-container {
            width: 50px;
            min-width: 50px;
            height: 50px;
            max-height: 50px;
        }

        .private-chats-room-pic {
            height: 40px;
            width: 40px;
            margin-left: 5px;
        }

        .private-chats-room-members {
            font-size: 10pt;
        }

        .private-chats-room-last-date-sent {
            font-size: 8pt;
        }

        .private-chats-room-last-message {
            font-size: 8pt;
        }

        .private-message-notification-count {
            font-size: 8pt;
            padding: 3px;
        }

        .no-chats-text-container {
            padding: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .no-chats-text {
            font-size: 10pt;
        }

    }

</style>

<div class="d-flex flex-row justify-content-center private-all-chats-banner-container">
    <div class="d-flex flex-row private-all-chats-banner">
        <h3 class="private-all-chats-banner-text">Private Chats</h3>
    </div>
</div>
<div class="container d-flex flex-row justify-content-center" id="id_chat_log_container">
    <div class="d-flex flex-column" id="id_all_private_chats_container">
        <div class="d-flex flex-column" id="id_private_chats_log">
            {% if not chats %}
                <div class="d-flex flex-row justify-content-center no-chats-text-container">
                    <span class="no-chats-text">No private chats currently. Send a friend a message to start a private chat!</span>
                </div>
            {% else %}
                {% for chat in chats %}
                    {% if chat.last_message %}
                        <a class="private-chat-link" href="{% url 'privatechat:chat' chat.id %}" id="private_chat_link_{{ chat.id }}">
                            <div class="private-chats-room-message-container">
                                <div class="private-chats-room-picture-container">
                                    {% if chat.users.all|length == 2 %}
                                        {% for user in chat.users.all %}
                                            {% if user != request.user %}
                                                <img class="private-chats-room-pic" src="{{ user.profile_image.url }}" alt="chat room {{ chat.id }}'s profile image">
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="private-chats-room-body-container">
                                    <div class="private-chats-room-headers-container">
                                        <span class="private-chats-room-members" id="id_room_members_{{ chat.id }}">
                                            {% if chat.users.all|length == 2 %}
                                                {% for user in chat.users.all %}
                                                    {% if user != request.user %}
                                                        {{ user.username }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% elif chat.users.all|length > 2 %}
                                                {% for user in chat.users.all %}
                                                    {% if user != request.user %}
                                                        {{ user.username }}{% if not forloop.last %}, {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </span>
                                        {% if chat.unread_count > 0 %}
                                        <span class="private-chats-room-last-date-sent" style="color: cyan; font-weight: bold;" id="id_room_last_sent_{{ chat.id }}">
                                        {% else %}
                                        <span class="private-chats-room-last-date-sent" id="id_room_last_sent_{{ chat.id }}">
                                        {% endif %}
                                            {{ chat.last_date|date:"j F Y" }}
                                        </span>
                                    </div>
                                    <div class="private-chats-room-message-text-container" id="id_room_text_container_{{ chat.id }}">
                                        <span class="private-chats-room-last-message" id="id_room_last_message_{{ chat.id }}">
                                            {% if chat.last_user == userid %}
                                                You: {{ chat.last_message }}
                                            {% else %}
                                                {{ chat.last_message }}
                                            {% endif %}
                                        </span>
                                        {% if chat.unread_count > 0 %}
                                        <span class="badge badge-pill badge-primary private-message-notification-count" id="id_room_message_notification_count_{{ chat.id }}">
                                            {{ chat.unread_count }}
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{{ userid|json_script:"userid" }}

<script type="text/javascript">

    var requestUserid = JSON.parse(document.getElementById('userid').textContent);

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/all_private_chats/' + requestUserid + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        // message response for online status has an object length of two - don't run ajax request when this
        // is fired - only when the length of the object is 1 for the room_id
        if (Object.keys(data).length == 1) {
            $.ajax({
                type: 'GET',
                url: '/privatechat/update_chat_log/',
                dataType: 'json',
                data: {"room_id": data.room_id},
                success: function(response) {
                    let timestampAsObj = new Date(response.last_date);
                    let timestampFormattedAsDate = formatter.format(timestampAsObj);
                    
                    // if chatroom doesn't exist in chat log, add the new chat room to the log
                    var chatLink = document.getElementById('private_chat_link_' + response.chat_id);
                    var chatsLog = document.getElementById('id_private_chats_log');
                    var elementToInsertAfter = chatsLog.children[0];
                    
                    if (response.last_message_user == requestUserid) {
                        var chatMessage = "You: " + response.last_message
                    } else {
                        var chatMessage = response.last_message
                    }
                    
                    if (chatLink === null) {
                        let chatsLog = document.getElementById('id_private_chats_log');
                        let elementToInsertAfter = chatsLog.children[0];
                        let linkUrl = "/privatechat/" + response.chat_id + "/chat/";
                        let newHTML = `<a href="${linkUrl} class="private-chat-link" id="private_chat_link_${response.chat_id}"><div class="private-chats-room-message-container"><div class="private-chats-room-picture-container">
                            <img class="private-chats-room-pic" src="${response.chat_image}" alt="chat room ${response.chat_id}'s profile image"></div>
                            <div class="private-chats-room-body-container"><div class="private-chats-room-headers-container"><span class="private-chats-room-members" id="id_room_members_${response.chat_id}">
                            ${response.chat_name}</span><span class="private-chats-room-last-date-sent" id="id_room_last_sent_${response.chat_id}">${timestampFormattedAsDate}</span>
                            </div><div class="private-chats-room-message-text-container" id="id_room_text_container_${response.chat_id}"><span class="private-chats-room-last-message" id="id_room_last_message_${response.chat_id}">
                            ${chatMessage}</span>`
                        if (response.unread_count > 0) {
                            newHTML = newHTML + `<span class="badge badge-pill badge-primary private-message-notification-count" id="id_room_message_notification_count_${response.chat_id}">${response.unread_count}</span></div></div></div></a>`
                        } else {
                            newHTML = newHTML + `</div></div></div></a>`
                        }
                        elementToInsertAfter.insertAdjacentHTML('afterend', newHTML);
                        if (response.last_message_user != requestUserid) {
                            let lastDateSentUpdateStyle = document.getElementById('id_room_last_sent_' + response.chat_id);
                            lastDateSentUpdateStyle.style.color = "cyan";
                            lastDateSentUpdateStyle.style.fontWeight = "bold";
                        }
                    }
                    // if chatLink variable exists, simply update the corresponding chat window
                    else if (chatLink !== null) {
                        let chatName = document.getElementById('id_room_members_' + response.chat_id);
                        chatName.textContent = response.chat_name;
                        let chatLastDate = document.getElementById('id_room_last_sent_' + response.chat_id);
                        chatLastDate.textContent = timestampFormattedAsDate;
                        if (response.last_message_user != requestUserid) {
                            chatLastDate.style.color = "cyan";
                            chatLastDate.style.fontWeight = "bold";
                        } else {
                            chatLastDate.style.color = "white";
                        }
                        let chatLastMessage = document.getElementById('id_room_last_message_' + response.chat_id);
                        chatLastMessage.textContent = chatMessage;
                        if (response.unread_count > 0) {
                            let chatTextContainer = document.getElementById('id_room_text_container_' + response.chat_id);
                            let oldNotificationSpan = document.getElementById('id_room_message_notification_count_' + response.chat_id);
                            if (oldNotificationSpan !== null) {
                                chatTextContainer.removeChild(oldNotificationSpan);
                            }
                            let notificationsSpan = document.createElement('span');
                            notificationsSpan.classList.add('badge');
                            notificationsSpan.classList.add('badge-pill');
                            notificationsSpan.classList.add('badge-primary');
                            notificationsSpan.classList.add('private-message-notification-count');
                            notificationsSpan.setAttribute("id", 'id_room_message_notification_count_' + response.chat_id);
                            notificationsSpan.textContent = response.unread_count;
                            chatTextContainer.appendChild(notificationsSpan);
                        }
                        chatsLog.removeChild(chatLink);
                        chatsLog.insertBefore(chatLink, elementToInsertAfter.nextSibling);
                    }
                }
            });
        }
    }

</script>

{% endblock %}